In [7]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
from importlib.resources import files

import pandas as pd
import seaborn as sns
sns.set()

DATA_DIR = files("biobank_olink.data")

In [9]:
df = pd.read_csv(DATA_DIR / "olink_data_ins0.csv", index_col=0)
df

,ABCA2,ABL1,ABO,ACADM,ACE,ACHE,ACP1,ACP6,ACRBP,ACTN2,...,WWP2,XCL1,XG,XIAP,XRCC4,YAP1,YJU2,YWHAQ,ZBTB17,ZCCHC8
eid,,,,,,,,,,,,,,,,,,,,,
1000011,0.97070,1.11500,2.54650,1.9069,0.20400,0.45815,0.91650,0.26800,1.21400,0.66480,...,0.3055,1.5510,-0.18200,-0.02630,0.04460,0.59515,4.0130,2.66625,2.33585,0.54690
1000083,-0.21340,-0.35000,0.40600,-1.1517,-0.29990,0.00290,-0.40950,-1.01040,-0.30620,-0.38550,...,-0.0054,0.2938,0.00060,0.16710,-1.61140,-0.38045,0.9454,-0.07660,-0.21635,-0.04090
1000121,-0.09595,1.19470,0.50260,1.7044,0.08510,1.02915,1.93030,-0.47120,-1.22420,0.31990,...,0.3635,0.2324,0.93280,0.20580,0.41380,-0.05095,0.6031,2.14825,-0.40075,0.78220
1000366,-0.49710,0.13750,-0.39630,-0.5911,-0.00050,0.42995,0.09420,0.11370,-0.87450,0.33870,...,-0.1691,0.1383,-0.50230,-0.64980,-1.34030,0.04305,-0.5473,0.09665,-0.00145,-0.12130
1000654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.62150,NaN,NaN,...,NaN,NaN,NaN,-0.16760,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6023200,0.92520,0.82870,1.27570,0.0072,0.03920,-0.74775,0.31670,-0.09620,0.65350,-0.05410,...,-0.0394,0.9615,0.01110,0.31520,0.92880,0.64155,2.4101,0.89345,1.03015,0.04350
6023252,-0.52630,-0.46640,-0.10490,-1.0452,-0.35250,0.08180,-0.58010,-0.42900,NaN,-0.01800,...,-0.1274,0.3190,NaN,-0.43860,-2.00490,-0.18830,-0.0931,-0.91670,-0.17770,-0.20860
6023293,0.06265,-0.16035,-0.19505,-0.0936,0.33510,0.41080,0.14345,-0.07095,-0.49345,0.26530,...,0.4725,-0.1121,-0.38100,-0.32345,-0.18175,0.02445,-0.2360,0.25925,-0.52150,-0.17835
6023486,-0.82865,-0.91530,-0.70090,-0.5283,-0.22170,-0.10765,-0.02870,-0.23870,-0.36990,-0.05170,...,-0.2247,0.1526,0.63530,-0.30880,-2.18230,0.37105,-0.1432,0.40565,-0.80915,-0.11400
6023592,-0.13345,-0.05275,-0.03810,-0.5602,-0.40595,0.11790,0.30850,-0.16030,-1.18850,-0.04365,...,0.1319,0.1778,-0.21985,-0.31850,-0.35660,0.22475,-0.1545,-0.26770,0.25895,-0.04330

In [54]:
(df.isna().sum(axis=0) / len(df)).sort_values(ascending=False)

NPPB      0.738274
PCSK7     0.633576
CTSV      0.231709
TADA3     0.133785
ANG       0.088608
            ...
ICAM4     0.010170
ICAM3     0.010170
EPHB6     0.010170
SCARF2    0.010170
CRTAM     0.010170
Length: 1463, dtype: float64

In [55]:
df.isna().sum(axis=1).sort_values(ascending=False)

eid
5496659    1388
5245071    1358
3841765    1292
4607585    1286
3552748    1286
           ...
5165578       0
2260963       0
3064006       0
3710781       0
3503021       0
Length: 52704, dtype: int64

In [56]:
cov_df = pd.read_csv(DATA_DIR / "BP_cov.zip", sep="\t")
cov_df

,eid,Sex,age,BMI,Smokinstatus,Alcoholintakefrequency,HTNgroup,fastingtime,SBP,DBP,PP
0,1000011,1,60,"28,0557",0,6,2,4,"157,5","98,5",59
1,1000060,1,57,"25,0363",0,2,1,5,"153,5",99,"54,5"
2,1000075,0,58,"31,9283",0,2,2,3,"131,5",77,"54,5"
3,1000097,0,56,"28,0969",1,6,0,2,120,70,50
4,1000121,1,63,"34,1438",0,1,2,3,149,"97,5","51,5"
...,...,...,...,...,...,...,...,...,...,...,...
409514,6023678,0,62,"29,8029",0,6,0,2,"131,5",75,"56,5"
409515,6023680,1,64,"27,3229",1,2,2,4,169,"97,5","71,5"
409516,6023699,1,48,"27,4939",0,1,0,14,132,"86,5","45,5"
409517,6023703,0,62,"26,9983",2,4,2,2,"122,5",76,"46,5"
409518,6023710,1,48,"30,2382",0,2,0,2,131,88,43

In [57]:
cov_df.eid.nunique()

409519