In [10]:
%load_ext autoreload
%autoreload 2

import json
from itertools import chain

import pandas as pd

from biobank_olink.constants import PROJECT_ROOT

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [12]:
results = [json.load(p.open()) for p in (PROJECT_ROOT / "results").iterdir()
           if p.name.startswith("pred_diagnosis")]
results = pd.DataFrame(chain.from_iterable(results))

panels = results.panel.unique()

agg_values = {f"mean_{v}": (v, "mean") for v in
              ["auc_score", "num_trials", "best_trial_no", "n_estimators"]}
results.groupby(["years", "lifestyle", "bp", "olink"], dropna=False).agg(**agg_values,
                                                                         count=("model", 'size'))

                             mean_auc_score  mean_num_trials  \
years lifestyle bp    olink
5     False     False False        0.672441            264.6
      True      False False        0.709863            307.0
                True  False        0.713865            307.0
                      True         0.753414             93.8
10    False     False False        0.669090            306.4
      True      False False        0.705777            306.4
                True  False        0.717391            290.6
                      True         0.751353            307.0

                             mean_best_trial_no  mean_n_estimators  count
years lifestyle bp    olink
5     False     False False               166.2             3583.6      5
      True      False False               193.0             3526.0      5
                True  False               256.4             3140.6      5
                      True                 67.8             2771.6      5
10    False     False False               158.8             2694.4      5
      True      False False               158.0             3731.2      5
                True  False               223.4             2156.8      5
                      True                244.8             3727.6      5